In [1]:
# Data Science
import numpy as np
import pandas as pd

In [2]:
crop_yield_data = pd.read_csv("Crop_Yield_Data_challenge_2.csv")
crop_yield_data.head()

,District,Latitude,Longitude,"Season(SA = Summer Autumn, WS = Winter Spring)","Rice Crop Intensity(D=Double, T=Triple)",Date of Harvest,Field size (ha),Rice Yield (kg/ha)
0,Chau_Phu,10.510542,105.248554,SA,T,15-07-2022,3.40,5500
1,Chau_Phu,10.509150,105.265098,SA,T,15-07-2022,2.43,6000
2,Chau_Phu,10.467721,105.192464,SA,D,15-07-2022,1.95,6400
3,Chau_Phu,10.494453,105.241281,SA,T,15-07-2022,4.30,6000
4,Chau_Phu,10.535058,105.252744,SA,D,14-07-2022,3.30,6400

In [3]:
ndvi_senti2_data = pd.read_csv('ndvi_senti2_data_cloud_filter_ndvi_23Columns_2022-1-1_2022-08-31.csv')
ndvi_senti2_data = ndvi_senti2_data.drop(columns=["ndvi23"])
ndvi_senti2_data.head()

,ndvi1,ndvi2,ndvi3,ndvi4,ndvi5,ndvi6,ndvi7,ndvi8,ndvi9,ndvi10,...,ndvi13,ndvi14,ndvi15,ndvi16,ndvi17,ndvi18,ndvi19,ndvi20,ndvi21,ndvi22
0,NaN,0.376791,0.378848,0.498826,NaN,0.543816,0.535979,NaN,0.570087,0.505229,...,NaN,NaN,0.456462,0.334110,0.284735,NaN,NaN,0.141656,0.062684,NaN
1,NaN,0.408901,0.412102,0.530364,NaN,0.556371,0.531082,0.531229,NaN,0.504687,...,NaN,NaN,0.375137,0.206789,0.401987,NaN,NaN,0.057865,0.084296,NaN
2,0.224021,0.465093,0.503938,0.490545,NaN,0.500048,0.501823,NaN,0.471445,0.471203,...,0.301156,0.296891,NaN,NaN,0.188789,NaN,NaN,0.143174,0.138922,NaN
3,NaN,0.509067,0.496026,0.547530,0.418933,0.552316,0.536984,0.456716,0.296612,0.505535,...,NaN,NaN,0.344949,NaN,0.175998,NaN,NaN,0.066051,0.118557,NaN
4,0.383767,0.494890,0.357247,0.544007,NaN,0.539300,0.529429,NaN,0.580595,0.489528,...,0.307967,NaN,0.354530,NaN,0.250289,NaN,NaN,0.231776,0.232952,NaN

In [4]:
ndvi_senti2_data.interpolate(method='linear',axis=1, inplace=True)
ndvi_senti2_data.interpolate(method='linear',limit_direction='backward',axis=1, inplace=True)

In [5]:
def combine_two_datasets(dataset1,dataset2):
    '''
    Returns a  vertically concatenated dataset.
    Attributes:
    dataset1 - Dataset 1 to be combined 
    dataset2 - Dataset 2 to be combined
    '''
    data = pd.concat([dataset1,dataset2], axis=1)
    return data

In [6]:
crop_data = combine_two_datasets(crop_yield_data,ndvi_senti2_data)
crop_data.head()

,District,Latitude,Longitude,"Season(SA = Summer Autumn, WS = Winter Spring)","Rice Crop Intensity(D=Double, T=Triple)",Date of Harvest,Field size (ha),Rice Yield (kg/ha),ndvi1,ndvi2,...,ndvi13,ndvi14,ndvi15,ndvi16,ndvi17,ndvi18,ndvi19,ndvi20,ndvi21,ndvi22
0,Chau_Phu,10.510542,105.248554,SA,T,15-07-2022,3.40,5500,0.376791,0.376791,...,0.475969,0.466216,0.456462,0.334110,0.284735,0.237042,0.189349,0.141656,0.062684,0.062684
1,Chau_Phu,10.509150,105.265098,SA,T,15-07-2022,2.43,6000,0.408901,0.408901,...,0.426957,0.401047,0.375137,0.206789,0.401987,0.287279,0.172572,0.057865,0.084296,0.084296
2,Chau_Phu,10.467721,105.192464,SA,D,15-07-2022,1.95,6400,0.224021,0.465093,...,0.301156,0.296891,0.260857,0.224823,0.188789,0.173584,0.158379,0.143174,0.138922,0.138922
3,Chau_Phu,10.494453,105.241281,SA,T,15-07-2022,4.30,6000,0.509067,0.509067,...,0.409183,0.377066,0.344949,0.260473,0.175998,0.139349,0.102700,0.066051,0.118557,0.118557
4,Chau_Phu,10.535058,105.252744,SA,D,14-07-2022,3.30,6400,0.383767,0.494890,...,0.307967,0.331248,0.354530,0.302410,0.250289,0.244118,0.237947,0.231776,0.232952,0.232952

In [7]:
rvi_senti1_data = pd.read_csv('rvi_senti1_data_cloud_filter_rvi_19Columns_2022-1-1_2022-08-31.csv')
rvi_senti1_data.head()

,rvi1,rvi2,rvi3,rvi4,rvi5,rvi6,rvi7,rvi8,rvi9,rvi10,rvi11,rvi12,rvi13,rvi14,rvi15,rvi16,rvi17,rvi18,rvi19
0,0.113735,0.186966,0.245110,0.284318,0.739800,0.726788,0.911254,1.249259,1.087277,1.298704,0.905310,0.724559,0.892340,0.992373,1.233590,0.360264,0.951532,0.645184,NaN
1,0.624242,0.591372,0.511358,0.623711,0.621459,0.664539,0.610600,0.759752,0.484136,0.687636,0.535123,0.743160,0.543520,0.817069,0.525941,0.676428,0.522760,0.678030,NaN
2,0.533706,0.624086,1.020604,0.923790,1.078331,0.952361,0.926528,1.298710,1.107509,1.146596,0.859890,0.987663,0.699925,0.835756,0.994119,0.204313,0.217059,0.179915,NaN
3,0.202505,0.369731,0.986550,0.781011,1.104601,1.080304,1.037729,1.208616,0.757698,1.083723,0.886537,1.352689,0.609161,0.694525,0.799591,0.325308,0.225328,0.423441,NaN
4,0.625349,0.974279,0.528540,0.623982,0.730792,0.864505,1.011768,1.316121,1.031630,0.660723,0.889918,0.410435,0.362494,0.418922,0.424168,0.311175,0.175952,0.155280,NaN

In [8]:
rvi_senti1_data.interpolate(method='linear',axis=1, inplace=True)
rvi_senti1_data.interpolate(method='linear',limit_direction='backward',axis=1, inplace=True)

In [9]:
crop_data = combine_two_datasets(crop_data,rvi_senti1_data)
crop_data.head()

,District,Latitude,Longitude,"Season(SA = Summer Autumn, WS = Winter Spring)","Rice Crop Intensity(D=Double, T=Triple)",Date of Harvest,Field size (ha),Rice Yield (kg/ha),ndvi1,ndvi2,...,rvi10,rvi11,rvi12,rvi13,rvi14,rvi15,rvi16,rvi17,rvi18,rvi19
0,Chau_Phu,10.510542,105.248554,SA,T,15-07-2022,3.40,5500,0.376791,0.376791,...,1.298704,0.905310,0.724559,0.892340,0.992373,1.233590,0.360264,0.951532,0.645184,0.645184
1,Chau_Phu,10.509150,105.265098,SA,T,15-07-2022,2.43,6000,0.408901,0.408901,...,0.687636,0.535123,0.743160,0.543520,0.817069,0.525941,0.676428,0.522760,0.678030,0.678030
2,Chau_Phu,10.467721,105.192464,SA,D,15-07-2022,1.95,6400,0.224021,0.465093,...,1.146596,0.859890,0.987663,0.699925,0.835756,0.994119,0.204313,0.217059,0.179915,0.179915
3,Chau_Phu,10.494453,105.241281,SA,T,15-07-2022,4.30,6000,0.509067,0.509067,...,1.083723,0.886537,1.352689,0.609161,0.694525,0.799591,0.325308,0.225328,0.423441,0.423441
4,Chau_Phu,10.535058,105.252744,SA,D,14-07-2022,3.30,6400,0.383767,0.494890,...,0.660723,0.889918,0.410435,0.362494,0.418922,0.424168,0.311175,0.175952,0.155280,0.155280

In [10]:
crop_data.shape

(557, 49)

In [11]:
crop_data.to_csv("Level2_train_data_NDVI22_RVI19.csv",index=False)

In [12]:
test_file = pd.read_csv('Challenge_2_submission_template.csv')
test_file.head()

,ID No,District,Latitude,Longitude,"Season(SA = Summer Autumn, WS = Winter Spring)","Rice Crop Intensity(D=Double, T=Triple)",Date of Harvest,Field size (ha),Predicted Rice Yield (kg/ha)
0,1,Chau_Phu,10.542192,105.187920,WS,T,10-04-2022,1.40,NaN
1,2,Chau_Thanh,10.400189,105.331053,SA,T,15-07-2022,1.32,NaN
2,3,Chau_Phu,10.505489,105.203926,SA,D,14-07-2022,1.40,NaN
3,4,Chau_Phu,10.523520,105.138274,WS,D,10-04-2022,1.80,NaN
4,5,Thoai_Son,10.294660,105.248528,SA,T,20-07-2022,2.20,NaN

In [13]:
ndvi_senti2_test_data = pd.read_csv("ndvi_senti2_test_data_cloud_filter_ndvi_22Columns_2022-1-1_2022-08-31.csv")
ndvi_senti2_test_data.head()

,ndvi1,ndvi2,ndvi3,ndvi4,ndvi5,ndvi6,ndvi7,ndvi8,ndvi9,ndvi10,...,ndvi13,ndvi14,ndvi15,ndvi16,ndvi17,ndvi18,ndvi19,ndvi20,ndvi21,ndvi22
0,0.282743,0.456203,0.594217,0.442556,0.431979,0.449025,0.535366,0.588129,NaN,0.538117,...,NaN,0.399736,0.465525,0.303536,0.327322,0.079467,0.061504,-0.029683,0.130612,NaN
1,0.547258,NaN,0.383037,0.535284,0.378712,0.568067,0.541296,0.534345,0.541824,0.501829,...,NaN,NaN,NaN,0.232284,0.098399,NaN,NaN,0.132437,0.161114,NaN
2,NaN,0.409212,0.484517,0.489335,NaN,0.510049,0.508518,NaN,0.564209,0.478446,...,0.348289,0.169412,0.385222,0.335924,0.304442,NaN,NaN,0.146243,0.076189,NaN
3,0.595165,0.680062,0.718707,0.539280,0.562533,0.540928,0.559000,0.545691,NaN,0.508943,...,NaN,0.350952,0.346497,NaN,0.233503,0.140869,0.077257,0.083575,0.188379,NaN
4,0.544025,NaN,0.412673,0.565902,NaN,0.456121,0.522443,NaN,0.394202,0.433172,...,NaN,NaN,0.117186,-0.075285,0.077861,NaN,0.351529,0.070375,0.124148,NaN

In [14]:
ndvi_senti2_test_data.interpolate(method='linear',axis=1, inplace=True)
ndvi_senti2_test_data.interpolate(method='linear',limit_direction='backward',axis=1, inplace=True)

In [15]:
feature_test = combine_two_datasets(test_file,ndvi_senti2_test_data)
feature_test.head()

,ID No,District,Latitude,Longitude,"Season(SA = Summer Autumn, WS = Winter Spring)","Rice Crop Intensity(D=Double, T=Triple)",Date of Harvest,Field size (ha),Predicted Rice Yield (kg/ha),ndvi1,...,ndvi13,ndvi14,ndvi15,ndvi16,ndvi17,ndvi18,ndvi19,ndvi20,ndvi21,ndvi22
0,1,Chau_Phu,10.542192,105.187920,WS,T,10-04-2022,1.40,NaN,0.282743,...,0.453811,0.399736,0.465525,0.303536,0.327322,0.079467,0.061504,-0.029683,0.130612,0.130612
1,2,Chau_Thanh,10.400189,105.331053,SA,T,15-07-2022,1.32,NaN,0.547258,...,0.367057,0.322133,0.277209,0.232284,0.098399,0.109745,0.121091,0.132437,0.161114,0.161114
2,3,Chau_Phu,10.505489,105.203926,SA,D,14-07-2022,1.40,NaN,0.409212,...,0.348289,0.169412,0.385222,0.335924,0.304442,0.251709,0.198976,0.146243,0.076189,0.076189
3,4,Chau_Phu,10.523520,105.138274,WS,D,10-04-2022,1.80,NaN,0.595165,...,0.405043,0.350952,0.346497,0.290000,0.233503,0.140869,0.077257,0.083575,0.188379,0.188379
4,5,Thoai_Son,10.294660,105.248528,SA,T,20-07-2022,2.20,NaN,0.544025,...,0.243581,0.180383,0.117186,-0.075285,0.077861,0.214695,0.351529,0.070375,0.124148,0.124148

In [16]:
rvi_senti1_test_data = pd.read_csv("rvi_senti1_test_data_19Columns_2022-1-1_2022-08-31.csv")
rvi_senti1_test_data

,rvi1,rvi2,rvi3,rvi4,rvi5,rvi6,rvi7,rvi8,rvi9,rvi10,rvi11,rvi12,rvi13,rvi14,rvi15,rvi16,rvi17,rvi18,rvi19
0,0.682880,0.928259,0.145460,0.225869,0.583081,0.620909,0.233704,0.171592,0.587531,0.901531,1.175484,0.624999,0.458806,0.984826,1.164486,0.763732,0.777978,0.871329,0.756400
1,0.141709,0.189803,0.960661,0.614808,1.198805,0.827285,1.003103,0.970548,0.823068,1.059437,1.056181,0.511672,0.846621,0.585868,0.568651,0.359254,0.937539,0.412829,NaN
2,0.294506,0.382623,0.279592,0.176745,0.729364,0.720249,0.714439,0.839250,0.574028,0.666229,0.851259,1.200444,0.723554,0.955999,0.898750,0.275307,0.498394,0.895533,NaN
3,0.162929,0.186460,1.143312,0.697362,1.065792,0.821447,1.069030,1.128584,0.781732,1.011889,1.301266,0.979559,0.735566,0.866444,1.106469,0.974295,0.604536,0.441159,0.927643
4,0.119191,0.180375,0.373010,0.264501,0.828774,1.053975,1.233110,1.049015,1.104729,0.865627,0.570277,0.770558,0.451317,0.380348,0.695497,0.682189,0.369916,0.504678,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.666814,0.500464,0.578350,0.326421,0.969232,1.247510,0.840553,1.241694,0.814827,1.040906,1.052235,1.089923,1.127697,0.542778,0.430713,0.454565,0.429027,0.239781,NaN
96,0.532257,0.420087,0.250276,0.277489,0.517459,0.607583,0.643338,0.716646,1.252206,1.031595,1.240488,0.939844,1.223890,0.997584,0.929242,1.055530,0.807502,0.599960,0.542357
97,0.660595,0.737814,0.857932,0.831060,1.201862,0.990615,0.867608,0.824636,1.065013,1.322701,0.931235,0.961403,0.848954,0.716213,0.602331,0.395033,0.135356,0.152428,NaN
98,0.219461,0.408134,0.579659,0.381957,0.561023,0.518460,0.720419,1.174766,0.917497,0.936897,0.779870,0.789821,0.932581,0.609646,0.653354,0.436113,0.285281,0.827185,NaN
99,0.440241,0.293604,1.138350,0.814147,0.902823,0.842745,1.180956,1.263490,0.803088,0.781357,1.291792,0.703920,0.856135,0.621996,1.192341,0.410366,0.368103,0.284651,0.952652

In [17]:
rvi_senti1_test_data.interpolate(method='linear',axis=1, inplace=True)
rvi_senti1_test_data.interpolate(method='linear',limit_direction='backward',axis=1, inplace=True)

In [18]:
submission_test_data = combine_two_datasets(feature_test,rvi_senti1_test_data)
submission_test_data = submission_test_data.drop('ID No',axis=1)
submission_test_data.head()

,District,Latitude,Longitude,"Season(SA = Summer Autumn, WS = Winter Spring)","Rice Crop Intensity(D=Double, T=Triple)",Date of Harvest,Field size (ha),Predicted Rice Yield (kg/ha),ndvi1,ndvi2,...,rvi10,rvi11,rvi12,rvi13,rvi14,rvi15,rvi16,rvi17,rvi18,rvi19
0,Chau_Phu,10.542192,105.187920,WS,T,10-04-2022,1.40,NaN,0.282743,0.456203,...,0.901531,1.175484,0.624999,0.458806,0.984826,1.164486,0.763732,0.777978,0.871329,0.756400
1,Chau_Thanh,10.400189,105.331053,SA,T,15-07-2022,1.32,NaN,0.547258,0.465148,...,1.059437,1.056181,0.511672,0.846621,0.585868,0.568651,0.359254,0.937539,0.412829,0.412829
2,Chau_Phu,10.505489,105.203926,SA,D,14-07-2022,1.40,NaN,0.409212,0.409212,...,0.666229,0.851259,1.200444,0.723554,0.955999,0.898750,0.275307,0.498394,0.895533,0.895533
3,Chau_Phu,10.523520,105.138274,WS,D,10-04-2022,1.80,NaN,0.595165,0.680062,...,1.011889,1.301266,0.979559,0.735566,0.866444,1.106469,0.974295,0.604536,0.441159,0.927643
4,Thoai_Son,10.294660,105.248528,SA,T,20-07-2022,2.20,NaN,0.544025,0.478349,...,0.865627,0.570277,0.770558,0.451317,0.380348,0.695497,0.682189,0.369916,0.504678,0.504678

In [19]:
submission_test_data.to_csv("Level2_test_data_NDVI22_RVI19.csv",index=False)